<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unit Table</title>
</head>
<body>
  <div id="app">
    <table v-if="units.length > 0">
      <thead>
        <tr>
          <th>Code</th>
          <th>Description</th>
          <th>Credit Points</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="unit in units" :key="unit.code">
          <td>{{ unit.code }}</td>
          <td>{{ unit.desc }}</td>
          <td>{{ unit.cp }}</td>
          <td>{{ unit.type }}</td>
        </tr>
      </tbody>
    </table>
    <p v-else>Loading units...</p>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script> 
  <script src="script.js"></script>
</body>
</html>
